<div class="overlay" [ngClass]="loadingSpinnerClass"></div>
<mat-spinner class="spinner" [ngClass]="loadingSpinnerClass" [diameter]=60></mat-spinner>
<mat-toolbar class="custom-toolbar">
  <mat-toolbar-row>
    <mat-toolbar-row>
      <h1>Stackoverflow wrapper</h1>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <mat-form-field>
        <mat-label>From date:</mat-label>
        <input matInput [matDatepicker]="fromDatePicker" [(ngModel)]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <mat-form-field>
        <mat-label>To date:</mat-label>
        <input matInput [matDatepicker]="toDatePicker" [(ngModel)]="toDate">
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
      </mat-form-field>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <mat-form-field>
        <mat-label>Tags: </mat-label>
        <mat-select multiple [(value)]="selectedTagsString">
          <mat-option *ngFor="let tag of tagsArray" [value]="tag.name"
            (onSelectionChange)="updateSelectedTagsArray($event, tag)">{{tag.name}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <mat-form-field>
        <mat-label>Title:</mat-label>
        <input matInput [(ngModel)]="title">
      </mat-form-field>
    </mat-toolbar-row>

    <mat-form-field>
      <mat-label>Sort order: </mat-label>
      <mat-select value="{{orderArrayValues[0]}}">
        <mat-option *ngFor="let order of orderArrayValues" value="{{order}}"
          (onSelectionChange)="onOrderChange($event, order)">
          {{order}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-toolbar-row>
      <button mat-button (click)="searchQuestions()">
        <mat-icon>search</mat-icon>
        Search
      </button>
    </mat-toolbar-row>
  </mat-toolbar-row>

</mat-toolbar>
<mat-toolbar class="custom-toolbar">
  <mat-toolbar-row>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of selectedTagsArray;" color="primary">{{tag.name}}</mat-chip>
    </mat-chip-list>
  </mat-toolbar-row>
</mat-toolbar>


<mat-paginator [length]="100" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]"
  (page)="pageEvent = nextPageAction($event)"></mat-paginator>
<mat-accordion class=" custom-header">
  <mat-expansion-panel hideToggle *ngFor="let question of questionsArray; let i = index;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Votes: {{question.score}}
      </mat-panel-title>
      <mat-panel-description>{{question.title}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="4" rowHeight="3:1">
      <mat-grid-tile>
        <mat-list role="list">
          <mat-list-item role="listitem"><b>Votes:</b> {{question.score}}</mat-list-item>
          <mat-list-item role="listitem"><b>Answers:</b> {{question.answer_count}}</mat-list-item>

        </mat-list>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-list role="list">
          <mat-list-item role="listitem"><b>Views:</b> {{question.view_count}}</mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button mat-raised-button (click)="openLink(question.link)">
              <mat-icon aria-label="Question link">link</mat-icon>
              Question link
            </button>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-action-row class="stripe-1">
      <mat-chip-list *ngIf="question.tags">
        <mat-chip *ngFor="let tag of question.tags;" color="primary">{{tag}}</mat-chip>
      </mat-chip-list>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>