.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 12;
}

.overlay {
    background: gray;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.custom-header .mat-expansion-panel-header-title, .custom-header .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.custom-headers .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.mat-expansion-panel-header.mat-expanded {
    background: #3f51b5;
    color: #fff !important;
}

.mat-expansion-panel-header.mat-expanded:hover {
    background: #3f51b5;
    color: #fff !important;
}

.mat-expansion-panel-header.mat-expanded:focus {
    background: #3f51b5;
    color: #fff !important;
}

.mat-expansion-panel-header-title {
    color: inherit;
}

.mat-expansion-panel-header-description {
    color: inherit;
}

.custom-toolbar {
    font-size: 16px;
    height: 48px;
}

.mat-action-row {
    justify-content: flex-start;
}